---
import { dessertItems } from '../data/desserts';
---

<main class="my-16">
  <h1 class="text-4xl font-semibold tracking-[-0.96px] text-center mb-16">
   Desserts
  </h1>
  <div class="grid grid-cols-3 gap-14">
    {dessertItems.map((dessert => (
        <div>
        {<img src={dessert.image.desktop} />}
        <p>{dessert.category}</p>
        <p>{dessert.name}</p>
        <p>{dessert.price}</p>
        </div>
      )))}
       {dessertItems.length > 0 && <p>We have {dessertItems.length} items.</p>}
  </div>
</main>